<h1 class="display-4 text-primary">People#index</h1>
<p><%= @msg %></p>
<p><a href="/people/add">新規登録ページへ&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;</a><a href="/people/find">検索ページへ&nbsp;&nbsp;&gt;&gt;</a></p>
<table class="table">
    <tr>
        <th>Id</th><th>Name</th><th>Age</th><th>Mail</th><th></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <td><%= obj.id %></td>
        <td><a href="/people/<%= obj.id %>"><%= obj.name %></a></td>
        <td><%= obj.age %></td>
        <td><%= obj.mail %></td>
        <td><a href="/people/edit/<%= obj.id %>">Edit</a>&nbsp;&nbsp;
            <a href="javascript:delData(<%= obj.id %>);">Delete</a>
        </td>
    </tr>
    <% end %>
</table>

<script>
function delData(id) {
    if (confirm('このデータを削除しますか？')) {
        document.location = "/people/delete/" + id;
    }
    return false;
}
</script>

